*.bak*
*.cdf
*.cmp
*.cr.mti
*.done
*.exe
*.html
*.inc
*.jdi
*.jpg
*.mif
*.pin
*.pof
*.qdf
*.qws
*.rpt
*.sdo
*.sft
*.smsg
*.sof
*.summary
*.swp
*.txt
*.ver
*.vho
*.wlf
*.xrf
*_inst.v
*run_msim*
/*.qip
/db
/incremental_db
/simulation/modelsim/gate_work
/simulation/modelsim/rtl_work
/src/uart_receiver.v
/temp
/uploads
/work
filters.xml
hardcopy*
msim_transcript
undo_redo.txt
