*.bak*
*.cmp
*.cr.mti
*.done
*.exe
*.html
*.inc
*.jpg
*.mif
*.pin
*.pof
*.qdf
*.qws
*.rpt
*.smsg
*.sof
*.summary
*.swp
*.txt
*.ver
*.wlf
*_inst.v
*run_msim*
/db
/incremental_db
/simulation/modelsim/gate_work
/simulation/modelsim/rtl_work
/uploads
/work
filters.xml
msim_transcript
undo_redo.txt
