*.swp
*.rpt
*.qdf
*.done
*.summary
*.pin
*.pof
*.qws
*.sof
*.smsg
*.txt
*.exe
/incremental_db
/db
/simulation
/work
*.cr.mti
*.bak
undo_redo.txt
/uploads
filters.xml
*.cmp
*.inc
*_inst.v
*.jpg
*.html
